.InviteEmployee{
  text-align: start;
  & h1{
    @extend %fontBasics;
    font-size: 24px !important;
    font-weight: 600 !important;
  }
}
.invitationMail{
  text-align: start;
}


.activeNav{
  &>*{
    stroke: $primary-color;
  }
}

.inactiveNav{
  &>*{
    stroke: $text-placeholder-color;
  }
}