#wrongUsername {
  color: red;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
.confirmAttndBtn {
  background-color:  $secondary-color;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px 15px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}


.late-status{
  background-color: $warning-color !important;
  color: white !important;
}
.present-status{
  background-color: $success-color !important;
  color: white !important;
}
.absent-status{
  background-color: $danger-color !important;
  color: white !important;
}

// .Emp_status{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }